<!DOCTYPE html>
<html>	
  <head>
    <meta charset="UTF-8">

    {% seo %}
    {% include head-custom.html %}
  </head>
  <body style="background:#f6f6f4;">

    <!--<header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.code_url}}" class="btn">View code on GitHub</a>
      {% endif %} 
    </header>
    -->
   
    <main>
      {% include toc.html html=content %}
      {{ content }}

    </main>
  
  </body>
</html>
